# Environment 'development', 'test', or 'production'
ENV=development

LOG_LEVEL=DEBUG
LOG_DIR=/home/appuser/epadd-curator-app/logs

# Cron Interval Settings
# (optional) second (0 - 59)
SECOND=*
# minute (0 - 59)
MINUTE=*/5
# hour (0 - 23)
HOUR=*
# day of month (1 - 31)
DAY=*
# month (1 - 12, JAN-DEC)
MONTH=*
# day of week (0 - 6, SUN-Mon)
# (0 to 6 are Sunday to Saturday; 7 is Sunday, the same as 0)
DAY_OF_WEEK=*

# DIMS
DIMS_ENDPOINT=https://ltsds-cloud-dev-1.lib.harvard.edu:10580
JWT_PRIVATE_KEY_PATH=
JWT_EXPIRATION=1800

# Nextcloud
EPADD_BUCKET_NAME=epadd-export-dev
#blank for dev
EPADD_DROPBOX_PREFIX_NAME=dropboxes
NEXTCLOUD_AWS_ACCESS_KEY=
NEXTCLOUD_AWS_SECRET_KEY=

#For testing
#Where is the testing data stored (S3 or FS for filesystem)
#Dev: FS
#QA: S3 (prefix)
EPADD_SOURCE_TYPE=FS
#prefix or directory that contains the stored data for testing
EPADD_SOURCE_NAME=/home/appuser/epadd-curator-app/test_files
#Prefix being used for integration tests 
EPADD_TEST_PREFIX_NAME=

# BatchBuilder Admin Category
BB_ADMIN_CATEGORY=http://idtest.lib.harvard.edu:10020/wordshack/adminCategory/27186

# Integration Test
TEST_EXPORT_FILE_PATH=/home/appuser/epadd-curator-app/test_export
TEST_PREFIX=test/
TEST_SIDECAR_FILE_PATH=/home/appuser/epadd-curator-app/test_files/drsConfig.txt
ZIPPED_EXPORT_PATH=/home/appuser/epadd-curator-app/zip_exports/
DOWNLOAD_EXPORT_PATH=/home/appuser/epadd-curator-app/download_exports/
DATA_PATH=/home/appuser/epadd-curator-app/resources

# Set to True if DIMS should not be called, False otherwise
TESTING=False

